<div id="aboutMeContainer">
    <h1>ABOUT <span>ME!</span></h1>
    <h3>
        Greetings! I'm Rakshan Thapar,<br>
        a passionate and experienced Full Stack Developer with nearly 6 years of
        dedicated work experience in the ever-evolving tech industry.
        Over the years, I've honed my skills across the entire stack, from designing intuitive user interfaces to architecting robust backend systems.
        I thrive on challenges and enjoy solving complex problems.
        My experience in the industry has not only equipped me with technical prowess but has also cultivated a mindset that values innovation and continuous improvement. I find joy in exploring new technologies and methodologies to stay at the forefront of the fast-paced tech landscape.
    </h3>
    
</div>


