<div class="mt-2">
    <a [href]="linkdeinUrl"><fa-icon [icon]="linkdein" animation="bounce" [style]="{color: '#0de4ca','--fa-border-color':'#0de4ca','--fa-border-radius':'25%' }" size="3x" [border]="true" title="linkdein"></fa-icon></a>
    <a [href]="githubUrl"><fa-icon [icon]="github" animation="bounce" [style]="{color: '#0de4ca','--fa-border-color':'#0de4ca','--fa-border-radius':'25%' }" size="3x" [border]="true" title="github" ></fa-icon></a>
    <a [href]="emailAddress"><fa-icon [icon]="email" animation="bounce" [style]="{color: '#0de4ca','--fa-border-color':'#0de4ca','--fa-border-radius':'25%' }" size="3x" [border]="true" title="email" ></fa-icon></a>
    <a [href]="mediumUrl"><fa-icon [icon]="medium" animation="bounce" [style]="{color: '#0de4ca','--fa-border-color':'#0de4ca','--fa-border-radius':'25%' }" size="3x" [border]="true" title="medium"></fa-icon></a>
    <a [href]="instagramUrl"><fa-icon [icon]="instagram" animation="bounce" [style]="{color: '#0de4ca','--fa-border-color':'#0de4ca','--fa-border-radius':'25%' }" size="3x" [border]="true" title="instagram"></fa-icon></a>
</div>